<template>
  <div class="home">
    <div class="wrapper">
      <p class="title">ALL TODOS</p>
      <p class="counter-today">FOR TODAY - {{ todosToday.length }}</p>
      <div class="cont-today">
        <div
          data-aos="fade-right"
          v-for="item of todosToday"
          :key="item.id"
          class="item"
        >
          <p
            class="check"
            v-bind:class="{ active: item.completed }"
            @click="Toggle(item)"
          ></p>
          <div class="item-right">
            <p class="item-title">{{ item.title.slice(5) }}</p>
            <p class="item-info">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis,
              recusandae.
            </p>
            <p class="item-data">Today</p>
          </div>
        </div>
      </div>
      <p class="counter-not-today">TOMORROW - {{ todosTomorrow.length }}</p>
      <div class="cont-today">
        <div v-for="item of todosTomorrow" :key="item.id" class="item">
          <p
            class="check"
            v-bind:class="{ active: item.completed }"
            @click="Toggle(item)"
          ></p>
          <div class="item-right">
            <p class="item-title">{{ item.title }}</p>
            <p class="item-info">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis,
              recusandae.
            </p>
            <p class="item-data">TOMORROW</p>
          </div>
        </div>
      </div>
      <p class="counter-not-today">Later - {{ todosLater.length }}</p>
      <div class="cont-today">
        <div v-for="item of todosLater" :key="item.id" class="item">
          <p
            class="check"
            v-bind:class="{ active: item.completed }"
            @click="Toggle(item)"
          ></p>
          <div class="item-right">
            <p class="item-title">{{ item.title }}</p>
            <p class="item-info">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis,
              recusandae.
            </p>
            <p class="item-data">{{ DateReg(item.left) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Home",
  methods: {
    ...mapActions(["FILTER_ARRAYS"]),
    Toggle: function (bl) {
      if (bl.completed) {
        bl.completed = false;
        event.target.classList.toggle("active");
      } else {
        bl.completed = true;
      }
      const parsed = JSON.stringify(this.todosToday);
      const parsed2 = JSON.stringify(this.todosTomorrow);
      const parsed3 = JSON.stringify(this.todosLater);
      console.log(bl);
      localStorage.clear();
      localStorage.setItem("todosToday", parsed);
      localStorage.setItem("todosTomorrow", parsed2);
      localStorage.setItem("todosLater", parsed3);

    },
    DateReg: function (num) {
      if (num > 31) {
        return num - 31 + " Nov";
      } else {
        return num + " Oct";
      }
    },
  },
  watch: {
     
  },  
  components: {},
  computed: {
    ...mapGetters(["todosToday", "todosTomorrow", "todosLater"]),
  },
  created() {
    this.FILTER_ARRAYS();

    // LocalStorageTime
    const parsed = JSON.stringify(this.todosToday);
    const parsed2 = JSON.stringify(this.todosTomorrow);
    const parsed3 = JSON.stringify(this.todosLater);

    localStorage.setItem("todosToday", parsed);
    localStorage.setItem("todosTomorrow", parsed2);
    localStorage.setItem("todosLater", parsed3);

    if (JSON.parse(localStorage.getItem("todosToday"))) {
      this.todosToday = JSON.parse(localStorage.getItem("todosToday"));
    }
    if (JSON.parse(localStorage.getItem("todosTomorrow"))) {
      this.todosTomorrow = JSON.parse(localStorage.getItem("todosTomorrow"));
    }
    if (JSON.parse(localStorage.getItem("todosLater"))) {
      this.todosLater = JSON.parse(localStorage.getItem("todosLater"));
    }
  },

  watch: {},
};
</script>

<style >
.wrapper {
  width: fit-content;
  margin: 0 auto;
  height: 1000px;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  margin-bottom: 40px;
  color: #000000;
}
.counter-today {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 35px;
  color: #ffc700;
}
.cont-today {
  width: 1400px;
  display: flex;

  flex-wrap: wrap;
  gap: 22px;
}
.item {
  width: 629px;
  height: 123px;
  background: #f0f0f0;
  border-radius: 15px;
  padding: 21px 28px;
  position: relative;
  display: flex;

  gap: 13px;
}
.item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */

  color: #000000;
}
.item-info {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #a5a5b4;
}
.item-data {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #ffc700;
}
.check {
  width: 16px;
  height: 16px;
  background: #f0f0f0;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.item-right {
  margin-top: -8px;
}
.active {
  background: #ffc700;
  border: 1px solid #ffc700;
}
.counter-not-today {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-top: 103px;
  margin-bottom: 35px;
  color: #a5a5b4;
}
</style>
