<template>
  <div id="main">
    <div class="wrapperOnly">
      <p class="title">ONLY TODAY TODOS</p>
      <div class="cont-today">
        <div v-for="item of todosToday" :key="item.id" class="item">
          <p class="check" v-bind:class="{ active: item.completed }" @click="Toggle(item)"></p>
          <div class="item-right">
            <p class="item-title">{{ item.title }}</p>
            <p class="item-info">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis,
              recusandae.
            </p>
            <p class="item-data">Today</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters(["todosToday", "todosTomorrow", "todosLater"]),
  },
  mounted: {},
  created: function () {
    this.FILTER_ARRAYS();

    // LocalStorageTime
    // const parsed = JSON.stringify(this.todosToday);
    // const parsed2 = JSON.stringify(this.todosTomorrow);
    // const parsed3 = JSON.stringify(this.todosLater);
    // localStorage.clear()
    // localStorage.setItem("todosToday", parsed);
    // localStorage.setItem("todosTomorrow", parsed2);
    // localStorage.setItem("todosLater", parsed3);
    // this.todosToday = JSON.parse(localStorage.getItem("todosToday"));
    // this.todosTomorrow = JSON.parse(localStorage.getItem("todosTomorrow"));
    // this.todosLater = JSON.parse(localStorage.getItem("todosLater"));
  },

  methods: {
    ...mapActions(["FILTER_ARRAYS"]),
    Toggle: function (bl) {
      event.target.classList.toggle("active");
       if(bl.completed){
        bl.completed = false
        event.target.classList.toggle("active");
      } else{
        bl.completed = true
      }
      console.log(bl);

    },
  },
};
</script>

<style>
.wrapperOnly {
  width: 1400px;
  height: fit-content;
  margin: 0 auto;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;

  color: #000000;
  margin-bottom: 39px;
}
</style>