<template>
  <div id="app">
    <div id="nav">
      <router-link class="rtl" to="/"><span class="title-home">Home</span></router-link>
      <router-link class="rtl" to="/Today">Today Todos ({{todosToday.length}})</router-link>
      <router-link class="rtl" to="/Tommorow">Tommorow Todos ({{todosTomorrow.length}})</router-link>
      <router-link class="rtl" to="/Later">Later Todos ({{todosLater.length}})</router-link>
    </div>
    <router-view></router-view>
  </div>
</template>
 
<script>
import Vue from 'vue'
import * as VueAos from 'vue-aos'
Vue.use(VueAos)
import { mapGetters, mapActions } from "vuex";
export default {
  computed: {
    ...mapGetters(["todosToday", "todosTomorrow", "todosLater"]),
  },
  mounted: {},
  created: function () {
    this.FILTER_ARRAYS();
    
  },
  methods: {
    ...mapActions(["FILTER_ARRAYS"]),
  },
};
</script>
 

<style>
 
#app {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#nav {
  display: block;
  padding: 30px;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-top: 52px;
  display: flex;
  gap: 80px;
  margin-bottom: 80px;
}
.rtl {
  display: block;
}

#nav a {
  color: #2c3e50;
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
.title-home{
  /* font-size: 32px; */
}

#nav a.router-link-exact-active {
  color: #ffc700;
  text-decoration: none;
}
#app{
  margin-bottom: 50px;
  padding-bottom: 50px;
}

</style>
